<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="宇树L6连接001.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.38644193650882 0.98425333099143 -0.321728280503399"
        rpy="0 0 0" />
      <mass
        value="0.0388754856381894" />
      <inertia
        ixx="1.11285813596862E-05"
        ixy="-1.24675957025975E-07"
        ixz="-3.59508234957696E-07"
        iyy="8.36189104764469E-06"
        iyz="4.29781622877737E-09"
        izz="6.67987440144183E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://宇树L6连接001.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://宇树L6连接001.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>